<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.560079</real>
		<key>longitude</key>
		<real>126.998413</real>
		<key>location</key>
		<string>#1</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.559641</real>
		<key>longitude</key>
		<real>126.998579</real>
		<key>location</key>
		<string>#2</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.559016</real>
		<key>longitude</key>
		<real>126.998788</real>
		<key>location</key>
		<string>#3</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.557713</real>
		<key>longitude</key>
		<real>126.999882</real>
		<key>location</key>
		<string>#4</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.558032</real>
		<key>longitude</key>
		<real>127.000856</real>
		<key>location</key>
		<string>#5</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.557704</real>
		<key>longitude</key>
		<real>127.001771</real>
		<key>location</key>
		<string>#6</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.557145</real>
		<key>longitude</key>
		<real>127.002873</real>
		<key>location</key>
		<string>#6</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.557985</real>
		<key>longitude</key>
		<real>127.003208</real>
		<key>location</key>
		<string>#7</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.558117</real>
		<key>longitude</key>
		<real>127.003536</real>
		<key>location</key>
		<string>#8</string>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.560113</real>
		<key>longitude</key>
		<real>126.998375</real>
		<key>location</key>
		<string>본관 3층 학생 CS센터 내</string>
		<key>count</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.558097</real>
		<key>longitude</key>
		<real>126.999126</real>
		<key>location</key>
		<string>중앙도서관 4층 열람실 앞</string>
		<key>count</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>37.560296</real>
		<key>longitude</key>
		<real>126.999807</real>
		<key>location</key>
		<string>학림관 1층 로비</string>
		<key>count</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.55814</real>
		<key>longitude</key>
		<real>127.000832</real>
		<key>libraryName</key>
		<string>법학관 열람실</string>
		<key>location</key>
		<string>법학관 1층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.557732</real>
		<key>longitude</key>
		<real>126.99977</real>
		<key>libraryName</key>
		<string>명진관 열람실</string>
		<key>location</key>
		<string>명진관 3층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.56033</real>
		<key>longitude</key>
		<real>126.99955</real>
		<key>libraryName</key>
		<string>학림관 열람실</string>
		<key>location</key>
		<string>학림관 2층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.559071</real>
		<key>longitude</key>
		<real>126.998767</real>
		<key>libraryName</key>
		<string>원흥관 열람실</string>
		<key>location</key>
		<string>원흥관 F동 B1층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.557855</real>
		<key>longitude</key>
		<real>127.001878</real>
		<key>libraryName</key>
		<string>혜화관 열람실</string>
		<key>location</key>
		<string>혜화관 2층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.558025</real>
		<key>longitude</key>
		<real>127.00308</real>
		<key>libraryName</key>
		<string>문화관 열람실</string>
		<key>location</key>
		<string>문화관 B2층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.557077</real>
		<key>longitude</key>
		<real>127.002929</real>
		<key>libraryName</key>
		<string>경영관 비즈마루</string>
		<key>location</key>
		<string>경영관 1층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>37.55814</real>
		<key>longitude</key>
		<real>126.998954</real>
		<key>libraryName</key>
		<string>중앙도서관 별관열람실</string>
		<key>location</key>
		<string>중앙도서관 별관 B3, B4층</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>37.559003</real>
		<key>longitude</key>
		<real>126.998858</real>
		<key>restaurantName</key>
		<string>아리수</string>
		<key>location</key>
		<string>원흥관 F동 7층</string>
		<key>store</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>37.557068</real>
		<key>longitude</key>
		<real>126.999555</real>
		<key>restaurantName</key>
		<string>상록원</string>
		<key>location</key>
		<string>상록원</string>
		<key>store</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>37.557119</real>
		<key>longitude</key>
		<real>127.002897</real>
		<key>restaurantName</key>
		<string>그루터기</string>
		<key>location</key>
		<string>경영관 지하1층</string>
		<key>store</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>37.558042</real>
		<key>longitude</key>
		<real>127.003241</real>
		<key>restaurantName</key>
		<string>더키친</string>
		<key>location</key>
		<string>문화관 지하1층</string>
		<key>store</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>37.559501</real>
		<key>longitude</key>
		<real>127.000306</real>
		<key>restaurantName</key>
		<string>금강관 선수식당</string>
		<key>location</key>
		<string>금강관</string>
		<key>store</key>
		<false/>
	</dict>
</array>
</plist>
